@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import '../../../node_modules/material-design-icons/iconfont/material-icons.css';

* {
  font-family: 'Rubik', sans-serif;
}

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;

// Small devices
@mixin sm {
  @media (max-width: #{$screen-sm-min}) {
    @content;
  }
}

// Medium devices
@mixin md {
  @media (max-width: #{$screen-md-min}) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin xl {
  @media (max-width: #{$screen-xl-min}) {
    @content;
  }
}

body, html {
  overflow-x: hidden;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;

  &.appFlexColumn {
    flex-direction: row;

    @include lg {
      flex-direction: column;
    }
  }

  .main-container {
    position: relative;
    width: 100%;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: auto;
  background: #006189;
  transition: all .2s ease;
  position: relative;

  @include lg {
    height: auto;
    flex-direction: row;
  }

  @include sm {
    align-items: center;
  }

  .hamburger {
    color: #fff;
    padding: 0px 15px;
    display: none;
    z-index: 1;

    @include sm {
      display: flex;
    }

    span {
      font-size: 48px;
    }
  }  

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    @include lg {
      align-items: center;
      flex-direction: row;
      width: 100%;
      gap: 30px;
    }

    @include sm {
      gap: 0px;
      position: absolute;
      top: 0;
      left: 100%;
      height: auto;
      width: 100%;
      background: #006189;
      z-index: 1;
      flex-direction: column;
      transition: all .2s ease;
      align-items: flex-start;

      &.active {
        left: 0%;
      }
    }

    a {
      padding: 15px 20px;
      transition: all .2s ease;

      @include lg {
        &:first-child {
          margin-left: auto;
        }
      }

      @include sm {
        width: 100%;

        &:first-child {
          margin-left: 0;
        }
      }

      li {
        color: #fff;
        display: flex;
        flex: 1;
        gap: 5px;
        align-items: center;
      }
      
      &:hover {
        background: #00839f;
        text-decoration: none;
      }
    }
  }

  .user-info {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 40px;
    padding: 20px;

    @include lg {
      margin-bottom: 0px;
      padding: 15px;
    }

    @include sm {
      width: 100%;
    }    

    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: 10px;

      @include sm {
        width: 35px;
        height: 35px;
      }
    }

    h2 {
      color: #fff;
      font-size: 20px;
      margin: 0;
      flex-direction: column;
      display: flex;

      @include sm {
        font-size: 16px;
      }
    }
  }

  .btn-logout {
    border: 0;
    background: none;
    padding: 0;
    height: 100%;

    li {
      display: flex;
      border: 0;
      background: #00839f;
      color: #fff;
      padding: 15px 20px;
      gap: 5px;
      transition: all .2s ease;
      height: 100%;
      align-items: center;

      &:hover {
        background: #089dc2;
      }
    }

    @include lg {
      align-items: center;
      margin-left: auto;
    }

    @include sm {
      margin-left: 0;
      width: 100%;
    }
  }
}
